.container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(102, 102, 102);
    margin: 12px 20px;
    border-radius: 6px;
    .content{
        display: flex;
        flex-direction: column;
        padding: 8px 20px;
        min-height: 100px;
        .dots {
            display: flex;
            gap: 8px;
            margin-top: auto;
            justify-content: center;
            .dot {
                border-radius: 4px;
                width: 14px;
                height: 10px;
                border: 1px solid;
                &.-actived {
                    background-color: black;
                }
            }
        }
    }
    .header {
        display: flex;
        justify-content: flex-start;
        gap: 8px;
        padding: 8px 20px;
        border-bottom: 1px solid rgb(102, 102, 102);
        img {
            border-radius: 99999px;
        }
        .info {
            display: flex;
            flex-direction: column;
            .-title {
                font-size: 16px;
                color: rgb(102, 102, 102);
            }
            .-subtitle {
                font-size: 12px;
                color: rgb(102, 102, 102);
            }
        }
    }
}