<div class="container">
  <div class="header">
    <div class="profile">
      <img src="../../../assets/fondo-login.jpg" alt="img">
      <div class="info">
        <span class="-title">Iyán Arcega</span>
        <span class="-subtitle">OVIEDO</span>
      </div>
    </div>
    <div class="save-profile">
      <ion-icon name="heart-outline"></ion-icon>
    </div>
  </div>
  <div class="content" *ngIf='true' id="card-content">
    
    <div class="img-card" [ngStyle]="{'transform': 'translateX('+translateXIndex+'px)'}">
      <img [src]="'../../../assets/imgs/' + pic" alt="pic" *ngFor='let pic of pics;' style="min-width: 100%;"> 
    </div>
    <div class="dots">
      <span class="dot" [ngClass]="{'-selected': picSelected === 0}" (click)='changeImg(0)'></span>
      <span class="dot" [ngClass]="{'-selected': picSelected === 1}" (click)='changeImg(1)'></span>
      <span class="dot" [ngClass]="{'-selected': picSelected === 2}" (click)='changeImg(2)'></span>
    </div>
  </div>
</div>