<div class="container-modal">
  <div class="header">
    <img src="../../../assets/logo.png" alt="logo" width="80px">
  </div>

  <div class="container-mid">
    <div class="title">
      <span>{{title}}</span>
    </div>
    <div class="inputs">
      <ion-item class="input-ionic" [lines]="'none'">
        <ion-input name='email' class="-button" placeholder='Email' [type]="'text'" [(ngModel)]='email'></ion-input>
      </ion-item>
      <ion-item class="input-ionic" [lines]="'none'">
        <ion-input name='password' placeholder='Contraseña' [type]="showPassword ? 'text': 'password' " [(ngModel)]='pass'></ion-input>
        <ion-icon slot='end' [name]='passwordToggleIcon' (click)='togglePassword()'></ion-icon>
      </ion-item>
    </div>
  </div>

  <div class="container-bottom">
    <div class="already-have">
      <span>{{changeModeInformation}}&nbsp;<span class="-link" (click)='changeMode()'>{{link}}</span></span>
    </div>
    <div class="-button" [ngClass]="{'-disabled': isDisabled}" (click)='submitButton()'>{{title}}</div>
  </div>
</div>
<div class="loader" *ngIf='showLoader'>
  <ion-spinner name="crescent"></ion-spinner>
</div>
