.container-modal {
    height: 100%;
    padding: 12px 12px 24px 12px;
    display: flex;
    flex-direction: column;
    
    .header {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .container-mid {
        display: flex;
        flex-direction: column;
        gap: 34px;
        .title {
            font-weight: 600;
            font-size: 28px;
        }
        .inputs {
            display: flex;
            flex-direction: column;
            gap: 12px;
            input {
                width: 100%;
                height: 40px;
                display: flex;
                align-items: center;
                border-radius: 4px;
                border: 1px solid;
                padding: 4px 10px 3px 10px;
                &:focus{
                    outline: none;
                }
            }
        }
    }
    .container-bottom{
        display: flex;
        flex-direction: column;
        gap: 8px;
        .already-have {
            font-size: 14px;
            align-self: center;
            .-link {
                color: #DE5246;
                font-weight: 600;
                cursor: pointer;
            }
        }
        margin-top: auto;
        .-button{
            width: 100%;
            border-radius: 4px;
            padding: 16px 6px;
            display: flex;
            color: white;
            font-size: 14px;
            font-weight: 600;
            justify-content: center;
            background-color: #DE5246;

            &.-disabled {
                background-color: #eb9b96;
            }
        }
    }
}
.loader{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    ion-spinner {
        color: white;
    }
}