<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="header-top">
      <img src="../../assets/logo.png" alt="logo" width="70px">
      <div class="input-icono">
        <ion-icon class="-search" name="search"></ion-icon>
        <input type="text" name="input" #search>
        <ion-icon name="filter-outline"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <button (click)='logout()'>LOG OUT</button> -->
  <app-card></app-card>
</ion-content>