// Elimino el ::after del header
ion-header::after {
    height: 0px;
}

.header-top {
    display: flex;
    align-items: center;
    padding: 5px;
    ion-searchbar {
        padding-top: 8px;
    }

    .filters {
        font-size: 25px;
    }
}